/* Pretendard Thin - 폰트 두께 100 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Pretendard ExtraLight - 폰트 두께 200 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200; /* ExtraLight */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Light - 폰트 두께 300 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Light.woff") format("woff");
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Regular - 폰트 두께 400 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Medium - 폰트 두께 500 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Pretendard SemiBold - 폰트 두께 600 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Bold - 폰트 두께 700 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard ExtraBold - 폰트 두께 800 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Black - 폰트 두께 900 */
@font-face {
  font-family: "Pretendard";
  src: url("../font/Pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}
