/* Pretendard */

/* Pretendard Thin - 폰트 두께 100 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Pretendard ExtraLight - 폰트 두께 200 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-ExtraLight.woff') format('woff');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Light - 폰트 두께 300 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Light.woff') format('woff');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Regular - 폰트 두께 400 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Regular.woff') format('woff');
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Medium - 폰트 두께 500 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Medium.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}

/* Pretendard SemiBold - 폰트 두께 600 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Bold - 폰트 두께 700 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Bold.woff') format('woff');
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard ExtraBold - 폰트 두께 800 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800; /* ExtraBold */
  font-style: normal;
  font-display: swap;
}

/* Pretendard Black - 폰트 두께 900 */
@font-face {
  font-family: 'Pretendard';
  src: url('../font/Pretendard/Pretendard-Black.woff') format('woff');
  font-weight: 900; /* Black */
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV */
/* PretendardGOV Thin - 100 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV ExtraLight - 200 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV Light - 300 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV Regular - 400 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV Medium - 500 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV SemiBold - 600 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV Bold - 700 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV ExtraBold - 800 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* PretendardGOV Black - 900 */
@font-face {
  font-family: 'Pretendard GOV';
  src: url('../font/PretendardGov/PretendardGOV-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Suit */
/* SUIT Thin - 100 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* SUIT Light - 300 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* SUIT Regular - 400 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* SUIT Medium - 500 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* SUIT SemiBold - 600 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* SUIT Bold - 700 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* SUIT ExtraBold - 800 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* SUIT Heavy - 900 */
@font-face {
  font-family: 'SUIT';
  src: url('../font/SUIT/SUIT-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
